.judul{
  text-align: center;
}

.pencarian{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.pencarian input{
  padding-top: 25px;
  padding-left: 817px;

}

.pencarian button{
  padding-top: 30px;
  font-size: 16px;
  width: 75px;
  background-color: white;
}

.buatlaporan{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buatlaporan button{
  background-color: white;
}

.tampilandata{
  padding-left: 140px;
  text-align: left;
}
